.dd{
    background-image: url("https://www.kawasaki-cp.khi.co.jp/motorshow2017/images/mark/river_mark_bg_sp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
.nv{
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.foot{
    border: 1px solid white;
    backdrop-filter: blur(10px);
}
.hh:hover{

  background-color: rgb(216, 210, 222);
}